@media only screen and (min-width : 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header hr {
        display: none;
    }

    main .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .main .card {
        min-width: 240px;
    }

    main .overview .overview-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .overview .overview-card {
        min-width: 240px;
    }
}

@media only screen and (min-width : 1024px) {
    .desktop-container {
        max-width: 1100px;
        margin: 0 auto;
    }
}